/* global class*/

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    color: rgb(38, 38, 91);
    margin: 0;
    font-family: monospace;
}

#container{
    
}

/*Header*/
#header{
    position: relative; 
    background-image: url("../Img/background.png");
    height: 100vh;
    
}

.wrap_header{
    position: absolute;
    left: 271px;
    right: 271px;
}

.header_people{
    display: block;
    position: absolute;
    top: 36px;
    right: 0;
    width: 513px;
    height: 701px;
}

/* information of header */
.information{
    position: absolute;
    left: 271px;
}

/*Logo */
.logo{
    font-size: 22px;
    line-height: 28.6px;
    margin: 60px 0 80px 0;
}

.logo_second{
    font-weight: bold;
}


/* description */
.header_description{
    
}

.header_description-tilte{
    font-size: 51px;
    line-height: 61.2px;
}

.header_description-paragraph{
    font-size: 18px;
    line-height: 27px;
}

.header_description-product{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

/* Meeting schedule*/
.header_schedule{
    margin: 20px 0 20px 0;
    font-size: 19px;
    line-height: 24.7px;
}

.header_schedule-paragraph{

}

.header_schedule-time{
    font-weight: 700;
}

.header_schedule-time--red{
    color: rgb(255, 91, 102);
}

/* Button of header*/
.header_button{
    font-size: 19px;
    display: flex;
}


.button_signin{
    width: 216px;
    height: 52px;
    background-color: rgb(134, 106, 227);
    color: rgb(255, 255, 255);
    font-size: 19px;
}

.header_button-readmore{
    width: 111px;
    height: 49.6px;
    border-bottom: 2.4px solid rgb(38, 38, 91); 
    margin-left: 30px;
}

/*Main*/
.main{
    position: relative;
}

/* Banner */
.banner{
    height: 182px;
    background-color: #e7e0e0;
    display: flex;
    justify-content: space-around;
    margin: 0 271px 0 271px;
}

.banner_info{
    width: 200px;
    height: 182px;
    text-align: center;
    
}

.banner_info-quantity{
    font-size: 52px;
    position: relative;
    top: 30px;
    margin: 0;
}

.banner_info-subject{
    font-size: 18px;
    position: relative;
    top: 40px;
    flex-direction: column;
    margin: 0;
}

.banner_info-subject--word{
    margin: 0;
}

/* My work */
.contOne{
    margin: 0 271px 96px 271px;
    display: flex;
}

.contOne_le{
    margin: 128px 0 0 0;
    position: relative;
}

.block{
    width: 105px;
    height: 5px;
    background-color: rgb(134,106, 227);
}

.blockOne{
    position: absolute;
    top: -30px;
}

.contOne_le-title{
    font-size: 32px;
    line-height: 41.6px;
    margin: 0;
}

.contOne_le-para{
    font-size: 18px;
    line-height: 27px;
    margin: 18.8px 0 48px 0;
}

.contOne_ri{
    position: relative;
}

.contOne_ri-img{
    margin: 68px 0 0 70px;
}

.contOne_ri-follow{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 16px;
}
.contOne_ri-para{
    font-size: 18px;
    margin: 0;
    background-color: rgb(159, 172, 172);
    line-height: 30px;
    width: 217px;
    text-align: right;
    padding: 0 16px 0 0;
}

.contOne_ri-icon{
    list-style-type: none;
    font-size: 31px;
    color: rgb(134,106, 227);
    display: flex;
    margin: 0;
}

.contOne_ri-in{
    margin: 0 30px;
}

.contTwo{
    margin: 68px 271px 96px 271px;
    position: relative;
}

.contTwo_ti{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.contTwo_con{
    display: flex;
    justify-content: space-between;
}

.contTwo_po{
    flex-direction: column;
}

.contTwo_po-num{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #d6d4d4;
    position: relative;
    top: 37px;
    left: -4px;
    font-size: 20px;
}

.contTwo_po-cir{
    background: #d6d4d4;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.contTwo_po-img{

}



.contTwo_po-icon{
    font-size: 50px;
}

.contTwo_po-ti{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
}

.contTwo_po-pa{
    font-size: 16px;
    width: 270px;
    text-align: center;
    line-height: 1.5;
}

.contTwo_block{
    display: flex;
    justify-content: center;
}

.contThree{
    height: 337px;
    background-color: rgba(221, 211, 255, 0.7);
    display: flex;
    justify-content: center;
}

.conThree_box{
    width: 616px;
    height: 264px;
    background-color: #ffcb66;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contThree_ti{
    font-size: 20px;
    margin: 58px 0 31px 0;
}

.contThree_timeWrap{
    display: flex;
    justify-content: space-between;
    width: 288px;
    height: 81px;
}

.contThree_time{
    flex-direction: column;
    
}

.contThree_time-number{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #26265b;
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.contThree_time-word{
    font-size: 14px;
    margin-top: 6px;
}

.contThree_button{
    position: absolute;
    bottom: -26px;
}

.contFour_con{
    margin: 18px 18px 0 18px;
    position: relative;
}

.contFour_block{
    height: 120px;
    width: 160px;
    background-color: rgba(134, 106, 227, 0.26);
    z-index: -1;
}

.contFour_blockOne{
    position: absolute;
    top: -18px;
    left: -18px;
}

.contFour_blockTwo{
    position: absolute;
    top: -18px;
}

.contFour_img2{
    display: flex;
    justify-content: center;
}

.contFour_blockThree{
    position: absolute;
    top: -18px;
    right: -18px;
}

.contFive{
    margin-top: 0;
    flex-direction: column;
}

.contFive_pa{
    font-size: 16px;
    margin: 0 0 50px 0;
}

.contFive_cont{
   display: flex;
   margin-bottom: 20px;
}

.contFive_boxNu{
    width: 122px;
    height: 59px;
    background-color: rgba(134,106,227,0.26);
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 46px;
}

.contFive_boxNu-num{
    font-size: 28px;
    text-align: right;
    margin: 0 25px 0 0;
}

.contFive_des{
    width: 788px;
}

.contFive_des-ti{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.contFive_des-pa{
    font-size: 16px;
    line-height: 1.5;
}

.contFive_button{
    margin-top: 36px;
}

.contSix{
    
}

.contSix_comment{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 223px;
    background-color: #e3e3e3;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 1px;
    position: relative;
    margin-bottom: 50px;
}

.contSix_commentDes{
    
}

.contSix_commentImg-peo{
    width: 173px;
    height: 173px;
    border-top-left-radius: 900px;
    border-top-right-radius: 900px;
    border-bottom-left-radius: 900px;
    border-bottom-right-radius: 900px;
    position: absolute;
    top: 24px;
    left: 25px;
}

.contSix_commentDes{
    font-size: 16px;
}

.contSix_commentDes-pa{
    width: 400px;
    line-height: 1.5;
    margin: 16px 0 26px 0;
}

.contSix_commentDes-na{
    text-align: right;
}

.contSix_commentTwo{
    transform: rotate(180deg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 223px;
    background-color: #e3e3e3;
    border-top-left-radius: 100px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    right: 0;
}

.contSix_commentImg-Two{
    transform: rotate(180deg);
}

.contSix_commentDes-Two{
    transform: rotate(180deg);
    right: 0;
}

.contSix_commentDes-naTwo{
    text-align: left;
}

.contSix_comment-wrap{
    display: relative;
    height: 223px;
    margin-bottom: 50px;
}
