/* global class*/

*{
    box-sizing: border-box;
    color: rgb(38, 38, 91);
    margin: 0;
    font-family: montserrat;
    font-size: 16px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Header*/
.header{
    background-image: url("../Img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_right{
    position: relative;
    top: 4px;
}

.header_talk{
    width: 38%;
    height: 23%;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 1px 5px 20px rgba(78,78,128,0.1);
    font-size: 2rem;
    position: absolute;
    top: 38%;
    right: 3%;
    text-align: center;
    z-index: 1;
}

.header_hi{
    width: 26%;
    height: 20%;
    background-color: rgb(255, 203, 102);
    border-top-left-radius: 900px;
    border-top-right-radius: 900px;
    border-bottom-right-radius: 900px;
    position: absolute;
    top: 4%;
    right: 3%;
    z-index: 1;
}

.header_hi-icon{
    font-size: 4rem;
    color: white;
}

.header_li{
    width: 21%;
    height: 15%;
    border: 3px solid white;
    border-top-left-radius: 900px;
    border-bottom-left-radius: 900px;
    border-bottom-right-radius: 900px;
    position: absolute;
    top: 24%;
    left: 5%;
    z-index: 1;
}

.header_block{
    width: 87%;
    height: 44%;
    background-image: linear-gradient(rgba(95, 255, 255, 0.1), rgb(87, 238, 249));
    position: absolute;
    right: 13%;
    top: 22%;
}

.header_people{
    bottom: 4px;
    width: 100%;
    height: 100%;
    position: relative;
}

/* information of header */

.header_left{
    
}

.logo{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: 60px 0 80px 0;
}

.logo_second{
    font-weight: bold;
    font-size: 1.5rem;
}


/* description */
.header_description{
    
}

.header_description-list{
    padding-left: 16px;
}

.header_description-tilte{
    font-size: 3.2rem;
    line-height: 61.2px;
    margin-bottom: 36px;
}

.header_description-tilte > p{
    font-size: 3rem;
}

.header_description-paragraph{
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
    margin-bottom: 36px;
}

.header_description-paragraph > span{
    font-size: 1.2rem;
}

.header_description-product{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Meeting schedule*/
.header_schedule{
    margin: 36px 0 36px 16px;
    font-size: 19px;
    line-height: 24.7px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.header_schedule-paragraph{
    font-size: 1.2rem;
}

.header_schedule-time{
    
}

.header_schedule-timeStyle{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    width: 326px;
    padding: 12px;
    background-image: linear-gradient(90deg, #ffe1e4, rgba(208, 188, 255, 0.41)); 
}

.header_schedule-time--red{
    color: rgb(255, 91, 102);
    font-size: 1.2rem;
}

.header_schedule-time--alignDay{
    margin-right: 8px;
}

.header_schedule-time--alignNum{
    margin-left: 8px;
}

/* Button of header*/
.header_button{
    font-size: 19px;
    display: flex;
}

.button_signin{
    width: 182px;
    height: 52px;
    background-color: rgb(134, 106, 227);
    color: rgb(255, 255, 255);
    font-size: 19px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header_button-readmore{
    width: 107px;
    height: 52px;
    border-bottom: 2.4px solid rgb(38, 38, 91); 
    margin-left: 30px;
    font-size: 1.2rem;
}

/*Main*/
.main{
    position: relative;
}

/* Banner */
.banner{
    height: 182px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin: 0 271px 0 271px;
    box-shadow: 1px 5px 20px rgba(78,78,128,0.1);
}

.banner_info{
    width: 200px;
    height: 182px;
    text-align: center;
    
}

.banner_info-quantity{
    font-size: 52px;
    position: relative;
    top: 30px;
    margin: 0;
}

.banner_info-subject{
    font-size: 1.2rem;
    position: relative;
    top: 40px;
    flex-direction: column;
    margin: 0;
}

.banner_info-subject--word{
    margin: 0;
}

/* My work */
.contOne{
    margin: 0 271px 40px 271px;
    display: flex;
}

.contOne_le{
    margin: 128px 0 0 0;
    position: relative;
}

.block{
    width: 105px;
    height: 5px;
    background-color: rgb(134,106, 227);
    margin-bottom: 32px;
}

.blockOne{
    position: absolute;
    top: -30px;
}

.contOne_le-title{
    font-size: 32px;
    line-height: 41.6px;
    margin: 0;
}

.contOne_le-para{
    font-size: 18px;
    line-height: 27px;
    margin: 18.8px 0 48px 0;
}

.contOne_ri{
    position: relative;
    margin-left: 60px;
}

.contOne_ri-block{
    width: 481px;
    height: 359px;
    background-image: linear-gradient(201deg, #43d2dc, #fff9ea);
    z-index: -1;
    position: absolute;
    top: 98px;
}

.contOne_ri-img{
    margin: 68px 0 0 36px;
}

.contOne_ri-follow{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 16px;
}
.contOne_ri-para{
    font-size: 18px;
    margin: 0;
    background-image: linear-gradient(-90deg, #bccefb, #ece9ff);
    line-height: 30px;
    width: 217px;
    text-align: right;
    padding: 0 16px 0 0;
}

.contOne_ri-icon{
    list-style-type: none;
    font-size: 31px;
    color: rgb(134,106, 227);
    display: flex;
    margin: 0;
}

.contOne_ri-in{
    margin: 0 30px;
}

.contTwo{   
    padding: 50px 0 50px 0;
}

.contTwo_wrap{
    margin: 0 271px 0 271px;
    position: relative;
}

.contTwo_ti{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.contTwo_con{
    display: flex;
    justify-content: space-between;
}

.contTwo_po{
    flex-direction: column;
}

.contTwo_po-num{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    position: relative;
    top: 37px;
    left: -4px;
    font-size: 20px;
    box-shadow: 2px 5px 20px rgba(78,78,128,0.16);
}

.contTwo_po-cir{
    background: #ffffff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 2px 5px 20px rgba(78,78,128,0.16);
}

.contTwo_po-img{

}

.contTwo_po-icon1{
    font-size: 50px;
    color: orangered;
}

.contTwo_po-icon2{
    font-size: 50px;
    color: purple;
}

.contTwo_po-icon3{
    font-size: 50px;
    color: green;
}

.contTwo_po-ti{
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
}

.contTwo_po-pa{
    font-size: 16px;
    width: 270px;
    text-align: center;
    line-height: 1.5;
}

.contTwo_block{
    display: flex;
    justify-content: center;
}

.contThree{
    height: 337px;
    background-image: url(../Img/background.png);
    display: flex;
    justify-content: center;
    position: relative;
}

.contThree_blockWater{
    position: absolute;
    bottom: 0;
    left: 271px;

}

.conThree_box{
    width: 616px;
    height: 264px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), #ffcb66);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contThree_box-cir{
    background-color: pink;
    position: absolute;
    right: -30px;
    top: 60px;
    padding: 10px 10px;
    background-image: linear-gradient(180deg, #ffe6e8, #ff9db6);
    box-shadow: 1px 6px 11px rgba(143,154,176,0.56);
}

.contThree_ti{
    font-size: 20px;
    margin: 58px 0 31px 0;
}

.contThree_timeWrap{
    display: flex;
    justify-content: space-between;
    width: 288px;
    height: 81px;
    z-index: 1;
}

.contThree_time{
    flex-direction: column;
}

.contThree_time-number{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #26265b;
    box-shadow: 1px 4px 20px rgba(85,0,134,0.31);
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.contThree_time-word{
    font-size: 14px;
    margin-top: 6px;
}

.contThree_button{
    position: absolute;
    bottom: -26px;
}

.contFour_con{
    margin: 18px 18px 0 18px;
    position: relative;
}

.contFour_block{
    height: 120px;
    width: 160px;
    z-index: -1;
}

.contFour_blockOne{
    position: absolute;
    background-image: linear-gradient(183deg, rgba(95, 255, 255, 0.1), rgba(134, 106, 227, 0.26));
    top: -18px;
    left: -18px;
}

.contFour_blockTwo{
    position: absolute;
    top: -18px;
    background-image: linear-gradient(90deg, rgba(95, 255, 255, 0.1), rgba(134, 106, 227, 0.26));
}

.contFour_blockThree{
    position: absolute;
    top: -18px;
    right: -18px;
    background-image: linear-gradient(183deg, rgba(95, 255, 255, 0.1), rgba(134, 106, 227, 0.26));
}

.contFour_img2{
    display: flex;
    justify-content: center;
}

.contFive{
    margin-top: 0;
    flex-direction: column;
}

.contFive_pa{
    font-size: 16px;
    margin: 0 0 50px 0;
}

.contFive_cont{
   display: flex;
   margin-bottom: 20px;
}

.contFive_boxNu{
    width: 122px;
    height: 59px;
    background-image: linear-gradient(90deg, rgba(95, 255, 255, 0.1), rgba(134, 106, 227, 0.26));
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 46px;
}

.contFive_boxNu-num{
    font-size: 28px;
    text-align: right;
    margin: 0 25px 0 0;
}

.contFive_des{
    width: 788px;
}

.contFive_des-ti{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.contFive_des-pa{
    font-size: 16px;
    line-height: 1.5;
}

.contSix{
    
}

.contSix_comment{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 223px;
    background-color: #ffffff;
    box-shadow: 1px 5px 20px rgba(78,78,128,0.16);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 1px;
    position: relative;
    margin-left: 16px;
}

.contSix_commentSpace{
    margin-bottom: 50px;
}

.contSix_commentDes{
    
}

.contSix_commentImg-peo{
    width: 173px;
    height: 173px;
    border-top-left-radius: 900px;
    border-top-right-radius: 900px;
    border-bottom-left-radius: 900px;
    border-bottom-right-radius: 900px;
    position: absolute;
    top: 24px;
    left: 25px;
    box-shadow: 1px 5px 20px rgba(38,38,91,0.16);
}

.contSix_commentDes{
    font-size: 16px;
}

.contSix_commentDes-pa{
    width: 400px;
    line-height: 1.5;
    margin: 16px 0 26px 0;
}

.contSix_commentDes-na{
    text-align: right;
}

.contSix_commentTwo{
    transform: rotate(180deg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 223px;
    background-color: #ffffff;
    box-shadow: 1px -5px 20px rgba(78,78,128,0.16);
    border-top-left-radius: 100px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    right: 0;
}

.contSix_commentImg-Two{
    transform: rotate(180deg);
}

.contSix_commentDes-Two{
    transform: rotate(180deg);
    right: 0;
}

.contSix_commentDes-naTwo{
    text-align: left;
}

.contSix_comment-wrap{
    height: 223px;
    margin-bottom: 50px;
}

.circle{
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
}

.circleOne{
    position: absolute;
    left: -16px;
    top: 30px;
    background-image: linear-gradient(180deg, #ffe6e8, #43d2dc);
    box-shadow: 1px 6px 11px rgba(143,154,176,0.56);
}

.circleTwo{
    position: absolute;
    left: 151px;
    top: 13px;
    background-image: linear-gradient(180deg, #ffe6e8, #ff9db6);
    box-shadow: 1px 6px 11px rgba(143,154,176,0.56);
}

.CircleThree{
    position: absolute;
    background-image: linear-gradient(180deg, #ffe6e8, #866ae3);
    bottom: 34px;
    left: 166px;
    box-shadow: 1px 6px 11px rgba(143,154,176,0.56);
}

.contSeven{
    flex-direction: column;
    position: relative;
}

.contSeven_wrap{
    height: 521px;
    width: 616px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), #ffcb66);
    flex-direction: column;
    position: absolute;
    bottom: 109px;
}

.contSeven_status{
    font-size: 21px;
    color: #866ae3;
    display: flex;
    justify-content: center;
}

.contSeven_statusPa{
    margin-right: 12px;
}

.contSeven_statusIcon{
    font-size: 25px;
}

.contSevenSignUp{
    padding: 20px 20px;
    background-color: #ffffff;
    color: #9d9db9;
    flex-direction: column;
    margin-top: 36px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.15);
    z-index: 1;
}

.contSevenSignUp_wrap{
    margin-bottom: 8px;
}

.contSevenSignUp-name{
    background-color: white;
}

.contSevenSignUp-namePa{
    font-size: 14px;
    display: block;
}

.contSevenSignUp-nameIn{
    border-top: 0;
    border-bottom: 2px solid #9d9db9;
    border-left: 0;
    border-right: 0;
    width: 373px;
    height: 39.4px;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-style: inset;
    padding: 0;
}

.contSevenSignUp-nameIn:focus{
    outline: none;
}

.contSevenSignUp-nameIn--Date{
    color: #9d9db9;;
}

.contSevenSignUp-nameIn--Mes{
    padding-top: 10px;
    width: 363px;
    padding-bottom: 10px;
    padding-left: 5px;
    height: 48.4px;
    padding-right: 5px; 
    border: 0;
}

.contSevenSignUp-nameIn--Mes:focus{
    outline: none;
}

.contSevenSignUp_CB{
    display: flex;
    align-items: center;
    margin-top: 4px;
    font-size: 14px;
}

.blockWater{
    width: 261px;
    height: 248px;
    z-index: 3;
    border-top-left-radius: 900px;
    border-top-right-radius: 900px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 900px;
    background-image: linear-gradient(326deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.64));
}

.footer_blockWater{
    position: absolute;
    left: 0;
    bottom: 146px;
}

.contSeven_circle{
    width: 57px;
    height: 57px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 201px;
    bottom: 339px;
    z-index: 2;
    background-image: linear-gradient(197deg, #ffe6e8, #43d2dc);
    box-shadow: 1px 6px 11px rgba(143,154,176,0.56);
}

.footer_background{
    background-image: url(../Img/background.png);
}